body {
  background: url(background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-logo {
  float:left;
}
.menu-item {
  float:left;
  height: 61px;
  line-height: 36px;
  padding-left:10px;
  font-size: 20px;
  font-weight: 500;
}

.App-logo-text {
  float: left;
  line-height: 22px;
  margin: 10px;
  color: #ffffff;
}

.logo-wrapper {

}
.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
